body{
    background: url(https://img.freepik.com/vector-premium/fondo-color-arco-iris-pastel-forma-liquida-onda_94047-1142.jpg?w=2000) #CCC no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
  }
.cabecera1{
    position: relative;
    left: 520px;
    text-align: center;
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    width: 250px;
   transition: background-color .10s;
}
.cabecera1:hover{
    background-color: rgb(90, 90, 90);
}
.lista1{
    position: relative;
    left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 300px;
        background-color: rgb(253, 255, 133);
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        border-radius: 5px;
        border-top: solid 0px;
        transition: background-color .5s;
        -webkit-transition:all .9s ease;
}
.lista1:hover{
    background-color: rgb(235, 232, 67);
    -webkit-transform:scale(1.1);
}
.cabecera2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 15px;
    padding: 1px;
    border-bottom: solid 2px #eeeeee;
}
.lista2{
    bottom: 278px;
    left: 980px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
            background-color: rgb(124, 228, 219);
            border-style: solid;
            border-width: 1px;
            border-color: #ccc;
            border-radius: 5px;
            border-top: solid 0px;
            transition: background-color .5s;
            -webkit-transition:all .9s ease;
    }
    .lista2:hover{
        background-color: rgb(0, 198, 248);
        -webkit-transform:scale(1.1);
    }
    .cabecera3{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 15px;
        padding: 1px;
        border-bottom: solid 2px #eeeeee;
    }
    .lista3{
        position: relative;
        bottom: 535px;
        left: 500px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 300px;
                background-color: rgb(235, 137, 230);
                border-style: solid;
                border-width: 1px;
                border-color: #ccc;
                border-radius: 5px;
                border-top: solid 0px;
                transition: background-color .5s;
                -webkit-transition:all .9s ease;
        }
        .lista3:hover{
            background-color: rgb(233, 87, 221);
            -webkit-transform:scale(1.1);
            
        }
        .cabecera4{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin: 15px;
            padding: 1px;
            border-bottom: solid 2px #eeeeee;
        }